FORMAT: 1A
HOST: https://my-card.in/

# MyCard API
MyCard API is a service about yu-gi-oh, YGOPro and MyCard.

# Group Decks
Decks related resources of the **MyCard API**
All user-related API need a HTTP Basic Auth.

## Decks Collection [/decks]
### Get all Decks of a user[GET]
+ Response 200 (application/json)

        [
            {
                "_id": "5212d72f6840e91257000004",
                "user": "zh99998",
                "name": "Exodia",
                "cards": [
                    {
                        "card_id": 7902349,
                        "side": false,
                        "count": 1
                    },
                    {
                        "card_id": 8124921,
                        "side": false,
                        "count": 1
                    },
                    {
                        "card_id": 33396948,
                        "side": false,
                        "count": 1
                    },
                    {
                        "card_id": 44519536,
                        "side": false,
                        "count": 1
                    },
                    {
                        "card_id": 70903634,
                        "side": false,
                        "count": 1
                    }
                ],
                "updated_at": "2013-08-20T21:41:08-07:00"
            }
        ]

## Deck [/decks/{user}/{name}]
A single Deck object with all its details

+ Parameters
    + user (required, string, `zh99998`) ... String `user` of the Deck belongs to.
    + name (required, string, `Exodia`) ... String `name` of the Deck.

### Retrieve a Deck [GET]
+ Response 200 (application/json)

        {
            "_id": "5212d72f6840e91257000004",
            "user": "zh99998",
            "name": "Exodia",
            "cards": [
                {
                    "card_id": 7902349,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 8124921,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 33396948,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 44519536,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 70903634,
                    "side": false,
                    "count": 1
                }
            ],
            "updated_at": "2013-08-20T21:41:08-07:00"
        }

### Create or update a Deck [PUT]
+ Request (application/json)

        {
            "name": "Exodia",
            "cards": [
                {
                    "card_id": 7902349,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 8124921,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 33396948,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 44519536,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 70903634,
                    "side": false,
                    "count": 1
                }
            ],
            "updated_at": "2013-08-20T21:41:08-07:00"
        }

+ Response 201 (application/json)

        {
            "_id": "5212d72f6840e91257000004",
            "user": "zh99998",
            "name": "Exodia",
            "cards": [
                {
                    "card_id": 7902349,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 8124921,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 33396948,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 44519536,
                    "side": false,
                    "count": 1
                },
                {
                    "card_id": 70903634,
                    "side": false,
                    "count": 1
                }
            ],
            "updated_at": "2013-08-20T21:41:08-07:00"
        }

+ Response 409

### Remove a Deck [DELETE]
+ Response 204
